//Import fonts

$catalina-blue: #003479;
$blueberry: #4392F1;
$mardi-gras: #970083;
$purple: #7C006C;

$font-superior: 'IBM Plex Mono', monospace;
$font-normal: 'IBM Plex Sans', sans-serif;

$font-size-jumbo: 64px;
$font-size-large: 36px;
$font-size-big: 24px;
$font-size-normal: 18px;

$font-size-mobile-normal: 12px;
$font-size-mobile-big: 18px;
$font-size-mobile-large: 24px;
$font-size-mobile-jumbo: 36px;