//Import fonts


$royal-blue: #03256C;
$cerulean-blue: #3066BE;
$dark-terra-cotta: #DB5461;

$font-superior: 'IBM Plex Mono', monospace;
$font-normal: 'IBM Plex Sans', sans-serif;

$font-size-jumbo: 64px;
$font-size-large: 36px;
$font-size-big: 24px;
$font-size-normal: 18px;
