<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div>
        <h1>Bienvenue sur votre Profil</h1>
        <p>Prénom : </p>
        <p>Nom : </p>
        <p>Pseudo : <input type="text" name="pseudo"></p>
        <p>Mot de passe : <input type="password" name="mdp"></p>
        <p>Date de naissance : <input type="date" name="birth"></p>
        <p>Avatar : <input type="file" name="avatar" accept="image/png, image/jpg, image/jpeg"></p>
        <input type="button" name="Validation" value="Valider">
    </div>
</body>
</html>