<% include ../partials/head.ejs %>
<body>
    <% include ../partials/header.ejs %>
    <div class="main-container close-right-panel">
        <div class="left-panel">
            <h2 class="subtitle">Amis</h2>
            <div class="profile-list">
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Sundar Pichai</div>
                </div>                
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Tim Cook</div>
                </div>
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">George Bush</div>
                </div>
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Mickaël Jackson</div>
                </div>
            </div>
        </div>
        <div class="main-panel">
            <div class="wall-header">
                <div class="wall-picture">
                    <div class="usertags">
                        <div class="username_text">William OLAX</div>
                        <div class="userpseudo_text">@williamolax</div>
                    </div>
                </div>
                <img src="" alt="" class="profile-picture big-picture">
                <nav class="wall-header__navigation">
                    <a href="" class="tab_link">Publications</a>
                    <a href="" class="tab_link is_active">Amis</a>
                    <a href="" class="tab_link">A propos</a>
                </nav>
            </div>
        </div>
        <div class="right-panel">
            <div class="profile-unit my-wall-unit">
                <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                <div class="profile-name">William Olax</div>
            </div>
            <h2 class="subtitle">Nouvelles Invitations</h2>
            <div class="profile-list">
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Sundar Pichai</div>
                </div>                
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Tim Cook</div>
                </div>
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">George Bush</div>
                </div>
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Mickaël Jackson</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function displayRightPanel(){
            const mainContainer = document.getElementsByClassName("main-container")[0]
            mainContainer.classList.toggle("display-right-panel")
            mainContainer.classList.remove("close-right-panel")
        }
        document.getElementsByClassName("sandwich-menu-btn")[0].addEventListener("click",displayRightPanel);
        //TODO ajouter l'affichage du panel de manière smooth.
        document.getElementsByClassName(".display-right-panel")
    </script>
</body>
</html>

