<% include ../partials/head.ejs %>
<body>
    <% include ../partials/header.ejs %>
    <div class="main-container close-right-panel">
        <div class="left-panel">
            <h2 class="subtitle">Amis</h2>
            <div class="profile-list">
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Sundar Pichai</div>
                </div>                
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Tim Cook</div>
                </div>
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">George Bush</div>
                </div>
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Mickaël Jackson</div>
                </div>
            </div>
        </div>
        <div class="main-panel">
            <div class="wall-header">
                <div class="wall-picture">
                    <div class="usertags">
                        <div class="username_text">William OLAX</div>
                        <div class="userpseudo_text">@williamolax</div>
                    </div>
                    <a class="invite-button">Inviter</a>
                </div>
                <img src="" alt="" class="profile-picture big-picture">
                <nav class="wall-header__navigation">
                    <a href="" class="tab_link is_active" data-value='0'>Publications</a>
                    <a href="" class="tab_link" data-value='1'>Amis</a>
                    <a href="" class="tab_link" data-value='2'>A propos</a>
                </nav>
            </div>
            <div id="main-partial-container">
                <% include ../partials/_publications_partial %>
            </div>
        </div>
        <div class="right-panel">
            <div class="profile-unit my-wall-unit">
                <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                <div class="profile-name">William Olax</div>
            </div>
            <div class="new-publication" data-value="10">
                Nouvelle Publication
            </div>
            <h2 class="subtitle">Nouvelles Invitations</h2>
            <div class="profile-list">
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Sundar Pichai</div>
                </div>                
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Tim Cook</div>
                </div>
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">George Bush</div>
                </div>
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Mickaël Jackson</div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="/javascripts/dashboard_index.js"></script>
</body>
</html>

