@import '../values.scss';

body{
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/** Panels **/
.main-container{
  display: flex;
  flex-direction: row; 
  width: 100%;
  flex: 1;
}

.left-panel{
  width: 250px;
  background-color: white;
  box-sizing: border-box;
  padding-left: 20px;
}

.right-panel{
  width: 250px;
  background-color: white;
}

.main-panel{
  flex: 1;
  background: $glitter;
}

@media screen and (max-width: 1290px){
  .left-panel, .right-panel{
    width: 175px;
  }
}

@media screen and (max-width: 1030px){
  .left-panel{
    display:none;
  }
  .right-panel{
    width: 250px;
  }
}

@media screen and (max-width: 730px){
  .left-panel{
    display: none;
  }
  .main-panel{
    width: 100vw;
    flex: none;
  }
  .main-container{
    width: 150vw;
    animation-duration: 1s;
    animation-name: slider_back;
    animation-fill-mode: forwards
  }
  .main-container.close-right-panel{
    animation: none;
    -webkit-animation: none;
  }

  .right-panel{
    width:50vw;
  }
  
  .main-container.display-right-panel{
    animation-duration: 1s;
    animation-name: slider;
    animation-fill-mode: forwards
  }

  @keyframes slider{
    from{
      transform: translateX(0vw);
    }
    to{
      transform: translateX(-50vw);
    }
  }

  @keyframes slider_back{
    to{
      transform: translateX(0vw);
    }
    from{
      transform: translateX(-50vw);
    }
  }

}

/** Main Panel **/

.wall-header{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 97%;
  height: 220px;
  border: solid 1px black; //TODO : remove (test)
  margin: 20px auto 30px auto;
  border-radius: 6px;
}

.wall-picture{
  width: 100%;
  height: 160px;
  background-color: $catalina-blue;
  border-radius: 6px 6px 0 0;
}
.profile-picture.big-picture{
  position: absolute;
  width: 140px;
  height: 140px;
  left: 20px;
  top: 70px;
  background-color: white;
}

.wall-header__navigation{
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  flex: 1;
  background-color: white;
  border-radius: 0 0 6px 6px;
  box-sizing: border-box;
  padding-left: 180px;
}

.tab_link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  text-decoration: none;
  color: black;
}

.is_active{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-bottom: inset 5px $mardi-gras;
}
/** Left Panel **/

.subtitle{
  font-size: $font-size-normal;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-unit{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.profile-picture{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 20px;
  background-color: white;
}

.profile-name{
  font-weight: lighter;
}

.my-wall-unit{
  color: white;
  background-color: $catalina-blue;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/** Right Panel **/

.right-panel .profile-unit{
  padding-left: 20px;
}

.right-panel .subtitle{
  margin-left: 20px;
}