<div class="partial-wrapper partial-invitations">
   <h2 class="partial-title">Gérez vos Invitations</h2>
   <div class="sentInvitations">
      <h3>Invitations envoyées</h3>
      <div class="invitation-unit sent-invitation-unit">
         <p class="nomPrenom">Nom Prénom </p>
         <p class="pseudo">@pseudoEnvoyeur</p>
         <p class="status">Envoyé</p>
      </div>
      <div class="invitation-unit sent-invitation-unit">
         <p class="nomPrenom">Nom Prénom </p>
         <p class="pseudo">@pseudoEnvoyeur</p>
         <p class="status">Envoyé</p>
      </div>
      <div class="invitation-unit sent-invitation-unit">
         <p class="nomPrenom">Nom Prénom </p>
         <p class="pseudo">@pseudoEnvoyeur</p>
         <p class="status">Statut : Envoyé</p>
      </div>
   </div>

   <div class="receivedInvitations">
      <h3>Invitations recues</h3>
      <div class="invitation-unit received-invitation-unit">
         <p class="nomPrenom">Nom Prénom </p>
         <p class="pseudo">@pseudoEnvoyeur</p>
         <div class="buttons">
            <div class="btn btn-success" data-sender="2">
               Accepter
            </div>
            <div class="btn btn-cancel" data-sender="2">
               Refuser
            </div>
         </div>
      </div>
      <div class="invitation-unit received-invitation-unit">
         <p class="nomPrenom">Nom Prénom </p>
         <p class="pseudo">@pseudoEnvoyeur</p>
         <div class="buttons">
            <div class="btn btn-success" data-sender="2">
               Accepter
            </div>
            <div class="btn btn-cancel" data-sender="2">
               Refuser
            </div>
         </div>
      </div>
   </div>
</div>
