<div class="partial-wrapper">
    <%  arrayPublication.forEach(function(element) { %>
          <div class='publication-unit'>
            <h3 class='titre-publication'><%= element.titre %></h3>
            <p class='date-publication'><%= element.date %></p>
            <p class='contenu-publication'><%= element.contenu %></p>
            <img class='img-publication'/>
          </div>
      <% });%>
</div>

