<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Mini Facebook</title>
<link rel="stylesheet" href="/stylesheets/default.css">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:700|IBM+Plex+Sans&display=swap" rel="stylesheet"> 

