<header>
  <div class="header-logo">Mini Facebook</div>
  <span class="separator"></span>
  <form autocomplete="off" class="form-header">
    <input type="text" name="contentToSearch" id="textbox-search" placeholder="Rechercher...">
    <div class="searchSuggestion">
    </div>
  </form>
  <div class="account-information">
    <img src="/icons/user.svg" alt="Icone Profil" class="user-icon">
    <div class="account-information__nomprenom"><%=user.prenom + " " + user.nom %></div>
    <img src="/icons/triangleicon.svg" alt="Icone Profil" class="triangle-icon closed">
  </div>
  <div class="account-information__dropdown-menu">
    <div class="dropdown__titre">
      <img src="/icons/user.svg" alt="Icone Profil" class="user-icon">
      <div class="nomprenom"><%=user.prenom + " " + user.nom %></div>
    </div>
    <a href="/account/edit">Modifier mon profil</a>
    <a href="/account/logout">Me déconnecter</a>
  </div>
  <img src="/icons/menu.svg" alt="Menu" class="sandwich-menu-btn">
</header>
<script>
  function extendDropdownMenu(event) {
    event.stopPropagation();
    const dropdownmenu = document.getElementsByClassName("account-information__dropdown-menu")[0]
    dropdownmenu.classList.toggle("is-opened");
    const triangleicon = document.getElementsByClassName("triangle-icon")[0];
    triangleicon.classList.toggle("opened");
    triangleicon.classList.toggle("closed");
  }

  function closeMenuOnOutSide() {
    const dropdownmenu = document.getElementsByClassName("account-information__dropdown-menu")[0]
    const triangleicon = document.getElementsByClassName("triangle-icon")[0]
    triangleicon.classList.remove("opened");
    triangleicon.classList.add("closed");
    dropdownmenu.classList.remove("is-opened");
  }
  document.getElementsByClassName("account-information")[0].addEventListener("click", extendDropdownMenu);

  document.addEventListener("click", closeMenuOnOutSide);
  document.getElementsByClassName("account-information__dropdown-menu")[0].addEventListener("click", (event) => {
    console.log("Je passe par la !")
    event.stopPropagation();
  })

  $(window).click(function(){
     $('#textbox-search').removeClass('is-extended')
     $('.searchSuggestion').removeClass('is-extended')
  })
  $('#textbox-search').click(function(event){
     event.stopPropagation()
  })
  $('.searchSuggestion').click(function(event){
     event.stopPropagation()
  })
  $('#textbox-search').on('input', function(){
     if(!$('#textbox-search').val()){
        $('#textbox-search').removeClass('is-extended')
        $('.searchSuggestion').removeClass('is-extended')
     } else {
        $.ajax({
           url: '/searchSuggestion',
           type: 'POST',
           data: {
              text : $('#textbox-search').val()
           },
           success: function(search_html){
              $('.searchSuggestion').html(search_html)
              $('#textbox-search').addClass('is-extended')
              $('.searchSuggestion').addClass('is-extended')
           },
           error: function(err){
              console.log(err)
           }
        })
     }
  })
</script>
